@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
  scroll-behavior: smooth;
}

:root {
  --primary-bg: #17255A;
  --secondary-bg: #778DA9;
  --neutral-bg: #E0E1DD;
  --accent-dark: #1D1A05;
  --accent-light: #B9314F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}